<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Blog</title>
  </head>
  <body>
    <nav class="navigation-wrapper">
      <div class="navigation">
        <a href="/">Home</a>
        <a href="/posts">Posts</a>
        <a href="/tags">Tags</a>
        <a href="/about">About</a>
      </div>
    </nav>
    <!-- <header
      style="
        background-image: url('https://images.pexels.com/photos/270404/pexels-photo-270404.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        background-size: cover;
        height: 100vh;
      "
    >
      <h1>Samuel Laurindo</h1>
      <span>Um blog casual sobre programação</span>
    </header> -->aaaaa
    <main>

    </main>
    <!-- <footer>
      <p>Copyright © 2024 Samuel Laurindo de Lima</p>
    </footer> -->
  </body>
</html>
