<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Blog</title>
  </head>
  <body>
    <nav class="navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/tags">Tags</a></li>
        <li><a href="/about">Sobre</a></li>
      </ul>
    </nav>
    <header class="hero">
      <h1>Samuel Laurindo</h1>
      <span>Um blog casual sobre programação</span>
    </header>
    <main></main>
    <!-- <footer>
      <p>Copyright © 2024 Samuel Laurindo de Lima</p>
    </footer> -->
  </body>
</html>
