body {
  font-family: Arial, Helvetica, sans-serif;
}

.navigation {
  width: 100%;
  display: flex;
}

.navigation ul {
  display: flex;
  gap: 2.5rem;
  padding: 1.25rem;
  margin: 0 auto;
}

.navigation ul li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: inherit;
}
